*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1280px;
    margin: auto;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.b1{
    width: 130px;
    height: 30px;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    /* color: white; */
}
.b2{
    width: 100px;
    height: 30px;
    background-color: rgba(200, 10, 10, 1);
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    color: white;
}
.b2:hover{
    background-color: rgb(146, 7, 7);
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 600px;
    padding-top: 30px;
}
nav img{
    width: 200px;
    height: 50px;
}
nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.hero input{
    width: 440px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: rgba(23, 23, 23, 0.8);
}
.hero button{
    width: 200px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 5px;
    color: white;
    background-color: rgba(200, 10, 10, 1);
    border: none;
}
.hero button:hover{
    background-color: rgb(146, 7, 7);
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}
.hero-title h2{
    font-size: 55px;
    font-weight: 900;
    text-align: center;
    color: white;
}
.hero-title h3{
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 30px auto 50px auto;
    color: white;
}
.hero-title p{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.hero-title{
    padding: 130px 0;
}
.header{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.7);
}
.box h2{
    font-weight: 900;
    font-size: 30px;
    margin-bottom: 10px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
    background-color: black;
    color: white;
    padding: 150px;
    margin-top: 10px;
}
.parent{
    position: relative;
    z-index: 4;
}
.child{
    position: absolute;
    top: 48%;
    left: 49.5%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.child-img{
    width: 314px;
    height: 178px;
}
.parent-img{
    width: 427px;
    height: 320px;
}